{% extends "AgrocycleAdminBundle::base.html.twig" %}

{% block body %}
<div class="row">
<article class="span12 data-block">
    <div class="data-container">
        <header>
                <h2><a href="{{path('agrocycle_admin_sector_index')}}">Hefbomen & Barrières</a></h2>
                
                <ul class="data-header-actions">
                    <li><a  href="{{path('agrocycle_admin_result_index')}}"><span class="awe-arrow-left"></span> Terug naar overzicht</a></li>
                    <li><a href="{{path('agrocycle_admin_result_edit', {'id' : result.id }) }}"><span class="awe-edit"></span> Edit Details</a> </li>
                </ul>
        </header>
        
        <section>
            
            <blockquote><h1>{{result.title}}</h1></blockquote>
            
        </section>


    </div>
</article>
</div>
<div class="row">
<article class="span12 data-block">
    <div class="data-container">
        <header>
                <h2>Projecten met dit resultaat </h2>
                
                <ul class="data-header-actions">
                        <li><a href="{{path('agrocycle_admin_project_create')}}" class="btn btn-success"><span class="awe-plus"></span> Nieuw Project</a></li>
                </ul>
        </header>
        
        <section>
            <table class="datatable table table-striped table-bordered table-hover" id="table">
	<thead>
		<tr>
			<th>Naam</th>
                        <th>Bewerk</th>
                        <th>Verwijder</th>

		</tr>
	</thead>
	<tbody>
                {% for project in result.projects %}
		<tr class="gradeX">
                        
			<td><a href="{{path('agrocycle_admin_project_detail',{'id':project.id, 'slug':project.slug})}}" title="Bekijk Details">{{ project.title }}</a></td>
                        <td class="center">
                            <a href="{{path('agrocycle_admin_project_edit', {'id' : project.id }) }}"><span class="awe-edit"></span></a> 
                        </td>
                        <td class="center">
                            <a href="{{path('agrocycle_admin_project_delete', {'id' : project.id }) }}"><span class="awe-remove"></span></a>
                        </td>
		</tr>
                {% endfor %}
	</tbody>
</table>
        </section>
    </div>
    
      <div class="data-container">
        <header>
                <h2>Onderzoeken met dit resultaat </h2>
                
                <ul class="data-header-actions">
                        <li><a href="{{path('agrocycle_admin_research_create')}}" class="btn btn-success"><span class="awe-plus"></span> Nieuw Onderzoek</a></li>
                </ul>
        </header>
        
        <section>
            <table class="datatable table table-striped table-bordered table-hover" id="table">
	<thead>
		<tr>
			<th>Naam</th>
                        <th>Bewerk</th>
                        <th>Verwijder</th>

		</tr>
	</thead>
	<tbody>
                {% for research in result.researches %}
		<tr class="gradeX">
                        
			<td><a href="{{path('agrocycle_admin_research_detail',{'id':research.id, 'slug': research.slug})}}" title="Bekijk Details">{{ research.title }}</a></td>
                        <td class="center">
                            <a href="{{path('agrocycle_admin_research_edit', {'id' : research.id }) }}"><span class="awe-edit"></span></a> 
                        </td>
                        <td class="center">
                            <a href="{{path('agrocycle_admin_research_delete', {'id' : research.id }) }}"><span class="awe-remove"></span></a>
                        </td>
		</tr>
                {% endfor %}
	</tbody>
</table>
        </section>
    </div>
</article>   
</div>

{% endblock %}

{% block customjs %}
{% endblock %}